<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MLSC PermiPage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>

  </style>
</head>
<body class="bg-black">
